html {
  position: relative;
  min-height: 100%;
}

img {
  border: 0;
}

h1 {
  text-align: left;
  font-weight: 300;
  color: #666;
  font-size: 23px;
  margin-bottom: 0;
}

h1 img {
  float: left;
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  opacity: 0.8;
  padding-left: 4%;
}

@media only screen and (max-width: 700px) {
  h1 img {
    padding-left: 0%;
    margin-left: 0px;
  }
}

h2 {
  text-align: left;
  font-weight: 400;
  color: #666;
  font-size: 23px;
}

h3 {
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

h4 {
  font-weight: 700;
  color: #666;
  font-size: 14px;
  margin-top: -15px;
}

.megah {
  text-align: center;
  line-height: 100%;
  font-family:'Raleway-Thin';
  letter-spacing:1px;
  color: $second-color;
  font-size: 4em;
  padding-top: 0.6em;

}

@media only screen and (max-width: 689px) {
  .megah {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 528px) {
  .megah {
    font-size: 3em;
  }
}

@media only screen and (max-width: 458px) {
  .megah {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 378px) {
  .megah {
    font-size: 2.25em;
  }
}

@media only screen and (max-width: 302px) {
  .megah {
    font-size: 2em;
  }
}

.clear {
  margin-top: 8px;
}

#button {
  margin-top: 10px;
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  list-style-type: none;
}

hr {
  height: 1px;
  width: 100%;
  background-image: url(../img/build/line.png);
  border: none;
}

a {
  color: $prime-color;
  text-decoration: none;
}
