footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 450px;// this plus margin has to match the bottom margin on the body element in main.scss
	margin-top: 50px;
	width: 100%;
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	color: #fff;
    text-align: left;
    font-size:13px;
}

@media only screen and (max-width: 800px) {
	footer {
		height: 700px;//matches bottom margin of body
	}
}

@media only screen and (max-width: 480px) {
	footer {
		height: 950px;//matches bottom margin of body
	}
}

//colour scheme for links in the footer

footer a {
	color: $prime-color;
}


footer a:hover {
	color: $fourth-color;
}

.footer-wrapper {
  width:90%;
  margin:0 auto;
}

.BRS-flex {
  display:flex;
  justify-content:center;
  align-items: center;
}

.footer-col {
  text-align:left;
  padding:5%;
  }

//credits at the bottom

.footer-credits {
  width: 100%;
  clear: both;
  padding-top: 50px;
  font-size:10px;
  text-transform:uppercase;
  line-height:20px;
  text-align:center;
}
